<!--
 * @Author: chingkingm
 * @Date: 2020-06-22 14:59:41
 * @LastEditTime: 2020-06-23 16:58:56
 * @FilePath: \多媒体教育与娱乐\大作业\code_file\main.html
 * @Description: 
--> 
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>别踩白块</title>
    <link rel="stylesheet" href="mycss.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
</head>
<body>
    <div id="div0">
        <div id="div1">
            <div id="div_sco">
                <span class="s_c">当前成绩:</span><span id="score_c" class="s_c">0</span>
                <span class="s_h">最好成绩:</span><span id="score_h" class="s_h">0</span>
            </div>
            <div id="div_ctx">
                <canvas width="360px" height="720px" id="can">
                    浏览器不支持
                </canvas>
            </div>
            <div id="div_btn">
                <button onclick="restart()">重新开始</button>
                <!-- <button onclick="startGame()">
                    开始
                </button> -->
            </div>
            <div id="div_f" v-if="condition0">
                <span id="span_finish">游戏结束</span><br>
                <span id="span_show">
                    您的成绩为:{{score}}
                </span>
                <span id="span_new" v-if="condition1" style="color: red;">
                    <sup>New</sup>
                </span>
            </div>
            <div id="div_info" v-if="condition2">
                精神小伙小组作业-别踩白块
            </div>
            
        </div>
        <audio controls="controls" loop = "loop">
            <source src="bgm.mp3" type="audio/mpeg">
            您的浏览器太low了,不支持播放
        </audio>
        <audio controls="controls" id="audio1">
            <source src="bgm.mp3" type="audio/mpeg">
            您的浏览器太low了,不支持播放
        </audio>
    </div>
    <script src="game.js"></script>
</body>
</html>